:root {
  --branding-color: #fefbf7;
  --secondary-color: #ff862f;
  --primary-heading-font: "Playfair Display SC", serif;
  --second-heading-font: "Playfair Display", serif;
  --default-font: "Montserrat", sans-serif;
}

h2 {
  font-size: 64px;
  font-family: var(--primary-heading-font);
  font-weight: bold;
}

p {
  font-family: var(--default-font);
  font-size: 17px;
  line-height: 2em;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 55px;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 160px 30px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--primary-heading-font);
  font-weight: bold;
}

.hero h2 {
  font-size: 36px;
  font-family: var(--primary-heading-font);
  font-weight: bold;
}

.hero h3 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 500;
  margin-top: 17px;
}

.description-project {
  padding: 176px 0;
  margin-top: 50px;
}

.portfolio-project {
  text-align: right;
}

@media (max-width: 990px) {
  .description-project {
    margin-top: 0;
    padding: 140px 0;
    text-align: center;
  }

  .description-project h2 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {
  .description-project {
    padding: 50px 0;
  }

  .description-project h2 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 15px;
  }

  .hero h1 {
    font-size: 76px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero h3 {
    font-size: 16px;
  }
}

.project-image {
  margin-top: 116px;
  width: 100%;
}

.project-button {
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-button:hover {
  padding-right: 50px;
  padding-left: 50px;
  color: var(--secondary-color);
}
