:root {
  --branding-color: #fefbf7;
  --secondary-color: #ff862f;
  --primary-heading-font: "Playfair Display SC", serif;
  --second-heading-font: "Playfair Display", serif;
  --default-font: "Montserrat", sans-serif;
}

h2 {
  font-size: 64px;
  font-family: var(--primary-heading-font);
  font-weight: bold;
}

p {
  font-family: var(--default-font);
  font-size: 17px;
  line-height: 2em;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 55px;
}

a {
  font-family: var(--default-font);
  font-size: 17px;
  line-height: 2em;
  letter-spacing: 0.5px;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 160px 30px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--primary-heading-font);
  font-weight: bold;
}

.hero h2 {
  font-size: 36px;
  font-family: var(--primary-heading-font);
  font-weight: bold;
}

.hero h3,
.content-container h3,
.work-experience h3 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 500;
  margin-top: 17px;
}

.third-header {
  font-family: var(--second-heading-font);
  font-size: 24px;
  font-weight: 700;
  margin-top: 17px;
}

.description-project {
  padding: 176px 0;
  margin-top: 50px;
}

.content-container {
  padding: 100px 0 80px 0;
  margin-top: 10px;
}

.portfolio-project {
  text-align: right;
}

.work-experience,
.skills {
  margin-top: 60px;
}

.work {
  background-color: var(--branding-color);
}

.lc {
  margin-bottom: 30px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav {
  padding: 20px 0;
}

.nav-bar {
  background-color: var(--branding-color);
}

.nav-links {
  color: black;
  font-family: var(--default-font);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: all 100ms ease-in-out;
}

.home-link {
  font-weight: 600;
}

nav li.active a,
.nav-links:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-icons {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}

.nav-icons:hover {
  color: black;
}

@media (max-width: 1400px) {
  .content-container {
    margin-top: 0 auto;
    padding: 100px 0 50px 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .work-experience,
  .skills {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 990px) {
  .description-project {
    margin-top: 0 auto;
    padding: 100px 0;
    text-align: center;
  }

  .description-project h2 {
    font-size: 46px;
  }

  .work {
    margin-top: 80px;
  }

  .content-container {
    margin-top: 0 auto;
    padding: 50px 0;
  }

  .content-container h2,
  .work-experience h2,
  .skills h2 {
    font-size: 46px;
  }

  .my-image {
    margin: 0 auto !important;
    width: 80% !important;
    display: block !important;
  }
}

@media (max-width: 768px) {
  .description-project {
    padding: 50px 0;
  }

  .content-container {
    padding: 30px 0 20px 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .description-project h2,
  .content-container h2,
  .work-experience h2,
  .skills h2 {
    font-size: 40px;
  }

  .work-experience,
  .skills {
    text-align: center;
  }

  .my-image {
    margin: 0 auto !important;
    width: 80% !important;
    display: block !important;
  }

  .my-image-class {
    padding: 0px !important;
  }

  .hero {
    padding: 80px 15px;
  }

  .hero h1 {
    font-size: 76px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero h3 {
    font-size: 16px;
  }

  .nav-icons,
  .nav-links {
    font-size: 16px;
  }
  nav li {
    margin-left: 5px;
  }
}

@media (max-width: 335px) {
  .nav-icons,
  .nav-links {
    font-size: 12px;
  }
  nav li {
    margin-left: 5px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .description-project h2,
  .content-container h2,
  .work-experience h2,
  .skills h2 {
    font-size: 30px;
  }
}

.project-image {
  margin-top: 116px;
  width: 100%;
}

.my-image {
  margin: 116px 20px 0 20px;
  width: 100%;
  border-radius: 20px;
}

.project-button {
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-button:hover,
.project-button:focus {
  padding-right: 50px;
  padding-left: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-color);
}

.contact-button {
  text-align: center;
  margin-bottom: 50px;
}

.contact-me-button {
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  color: white;
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.contact-me-button:hover,
.contact-me-button:focus {
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
}

.text-links {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-links {
  color: black;
  text-decoration: underline;
}

.my-cv-button {
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 60px;
}

.my-cv-button:hover {
  padding-right: 80px;
  padding-left: 80px;
  color: var(--secondary-color);
}

.project-view-link:hover {
  box-shadow: 0px 0px 13px rgba(255, 134, 47, 0.3);
}

.footer-class {
  background-color: var(--branding-color);
  padding: 100px 0 20px 0;
}

.page-end {
  margin-bottom: 100px;
}

.email-link {
  text-align: center;
}

.my-email {
  color: black;
}
.text-links:hover,
.my-email:hover {
  color: var(--secondary-color);
  text-decoration: line-through;
}

.last-link {
  font-size: 12px;
}
